.container {
    display: flex;
    gap: 10px;
}

.container * {
    cursor: pointer;
    transition: transform 200ms ease-in-out;
    box-shadow: 5px 5px 10px rgb(216, 216, 216);
}

.container *:hover {
    transform: scale(1.1);
}

.container [picked="false"] {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: rgba(14, 14, 14, 0.312);
    }
}

.status-modal {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: grid;
    place-items: center;
}

.red {
    composes: status-modal;
    background: linear-gradient(90deg, var(--red3), var(--red2));
}

.green {
    composes: status-modal;
    background: linear-gradient(90deg, var(--green1), var(--green2));
}

.yellow {
    composes: status-modal;
    background: linear-gradient(90deg, var(--yellow1), var(--yellow2));
}