:root {
    --small: 1rem;
    --bg: #e6e5e5;
    --subText: #888888;
    --subText2: #A0A0A0;
    --text: #333333;
    --text2: #252525;
    --subText3: #3f3e3e;
    --blue1: #5E8BEF;
    --blue2: #67adf8;
    --blue3: #4AA0FF;
    --green2: #66CC99;
    --green1: #b8e6d0;
    --red1: #FF8A8A;
    --red2: #e74d4d;
    --red3: #f55d5d;
    --yellow1: #f8dead;
    --yellow2: #FFC966;
    --green3: #4CAF50;
    --green4: #388E3C;
    --brown: rgb(66, 55, 55);
}

#root {
    height: 100vh;
}

* {
    font-family: "Poppins", 'sans-serif', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

img {
    display: block;
}

input,
button {
    border: none;
    width: min-content;
}

input:focus {
    outline: none;

}

[contentEditable="true"]:focus {
    border: none;
    outline: none;
}