@import url('/index.css');

.timerCard {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0.5rem 1rem;
    background-color: var(--surface);
    border-radius: 50px;
    box-shadow: var(--shadow-soft);
    
    color: var(--text2);
    font-weight: 600;
    font-size: 0.9rem;
    white-space: nowrap;
    user-select: none;
    border: 1px solid transparent;
}

.icon {
    color: var(--blue2);
    font-size: 1rem;
}

@media screen and (max-width: 600px) {
    .timerCard {
        display: none;
    }
}