@import url('./../../index.css');
@import url('./../taskCard/Card.module.css');


.dim {
    width: 100%;
    height: 100%;
    background-color: rgba(51, 51, 50, 0.36);
    position: fixed;
    inset: 0;
    display: grid;
    place-items: center;
}

.modal {
    width: min(750px, 90%);
    height: 750px;
    background-color: var(--bg);
    display: grid;
    grid-auto-rows: min-content min-content auto;
    overflow-y: scroll;
    scrollbar-color: var(--blue1) var(--bg);
    scrollbar-width: thin;
    overscroll-behavior: none;
}

.modal img {
    width: 30px;
}

.modal hr {
    margin-top: 15px;
    grid-column: span 2;
}

.title-section {
    padding: 3rem 1rem;
    background: linear-gradient(90deg, var(--blue2), var(--blue3)25%);
    color: var(--text2);
    font-size: 1.5rem;
}

.meta {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-top: 1rem;
    padding-inline: 1rem;
    row-gap: 8px;
    align-items: center;
}

.meta-container img {
    width: 35px;
    height: 35px;
}

.meta-container {
    display: flex;
    gap: 8px;
    align-items: center;
}

.meta-container+*:hover {
    background-color: rgba(0, 0, 0, 0.036);
}



.description-container {
    grid-column: span 2;
}

.description-container p {
    color: var(--subText3);
    font-weight: light;
}

.button {
    width: 40%;
    height: 50px;
    border-radius: 15px;
    border: none;
    background: linear-gradient(90deg, var(--blue1), var(--blue2));
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    transition: transform 300ms ease-in-out;
}

.button:hover {
    transform: translateY(-3px);
}

.buttons-container {
    grid-column: 1/-1;
    display: flex;
    justify-content: space-around;
    align-self: flex-end;
    margin: 16px 0;
}

.buttons-container img {
    width: 30px;
    height: 30px;
    animation: enter-icon 300ms ease-in-out backwards;
}

@keyframes enter-icon {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: none;
        opacity: 1;
    }

}

[contenteditable=true]:empty:not(:focus)::before {
    content: "start here . . .";
    color: var(--subText3);
    font-style: italic;
    pointer-events: none;
}

[contenteditable="true"]:hover {
    cursor: text;
    background-color: rgba(0, 0, 0, 0.055);
}