@import url('/index.css');

.page {
    background-color: var(--bg);
    width: 100%;
    min-height: 100%;
    padding: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-auto-rows: min-content auto;
    grid-template-areas: "header header"
        "side-bar main";
    row-gap: 6rem;
}

.header {
    grid-area: header;
    display: flex;
}


.header img {
    width: 50px;
    height: auto;
}

.header-container {
    display: flex;
    gap: 5px;
    width: 500px;

}

.header img:nth-child(2) {
    margin-left: auto;
}

.timer {
    flex-basis: 150px;
    box-shadow: 9px 9px 16px rgba(214, 219, 226, 0.94000000000000006), -9px -9px 16px rgba(238, 243, 250, 0.64);
    background: #E6E6E6;
    border-radius: 8px;
    margin-right: 2rem;
    color: var(--subText3);
    font-size: 1rem;
    display: grid;
    place-items: center;
}

.search {
    flex-basis: 350px;
    min-width: 0;
    box-shadow: 9px 9px 16px rgba(214, 219, 226, 0.94000000000000006), -9px -9px 16px rgba(238, 243, 250, 0.64);
    background: #E6E6E6;
    border-radius: 8px;
    border: none;
    margin-right: 20px;
    padding-left: 1rem;
    font-size: 1rem;
    font-weight: lighter;
    color: var(--subText3);
    position: relative;
}

.search:focus {
    outline: none;
}

@media screen and (width <750px) {

    .header {
        display: grid;
        grid-template-columns: 1fr 1fr 3fr;
        row-gap: 1rem;
    }

    .search {
        grid-column: 2/-1;
    }
}


.side-bar {
    /* background-color: rgb(211, 211, 210); */
    min-height: 700px;
}

.side-container {
    width: min(95%, 200px);
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 100%;
}

.side-button img {
    width: 40px;
    height: 40px;
    /* transition: transform 500ms ease-in; */
}

.side-button:hover img {
    /* transform: rotate(1turn); */
    animation: rotate 800ms ease-in-out alternate;
}

@keyframes rotate {

    20% {
        transform: translateY(-10%);
    }

    80% {
        transform: translateY(-10%) rotate(1turn);

    }

    100% {
        transform: rotate(1turn);
    }

}

.side-button {
    width: 100%;
    height: 60px;
    font-size: 1.4rem;
    border-radius: 30px;
    border: none;
    color: var(--text);
    font-weight: 500;
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 5%;
    cursor: pointer;
    box-shadow: 8px 8px 16px rgba(213, 218, 224, 0.94), -9px -9px 16px rgba(216, 222, 230, 0.94);

    &:nth-of-type(1) {
        background: linear-gradient(90deg, var(--green1)25%, var(--green2));
    }

    /* &:nth-of-type(2) {
        background: linear-gradient(90deg, var(--yellow1)25%, var(--yellow2));
    }

    &:nth-of-type(3) {
        background: linear-gradient(90deg, var(--red1)25%, var(--red2));
    }*/

}

.avatar {
    margin-top: auto;
}

.user-name {
    font-size: 1.5rem;
    align-self: center;
}

.logout {
    align-self: center;
    font-size: 1.2rem;
    color: var(--subText3);
    margin-bottom: 100px;
    cursor: pointer;
}


@media screen and (width <1150px) {
    .page {
        grid-template-columns: 3fr 7fr;
    }
}

.main {
    /* background-color: rgb(112, 112, 112); */
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fit, 350px);
    grid-auto-rows: min-content;
    justify-content: center;
}

.main h1 {
    grid-column: 1/-2;
    grid-row: 1/2;
}

.add-task {
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    grid-column: -2/-1;
    grid-row: 1/2;
}

.add-task img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}