@import url('/index.css');

.page {
    height: 100%;
    display: grid;
    place-items: center;
    background: #e6e5e5;
}

.modal {
    width: min(800px, 95%);
    min-height: 400px;
    background: #E6E6E6;
    border-radius: 50px;
    box-shadow: 9px 9px 16px rgba(214, 219, 226, 0.94000000000000006), -9px -9px 16px rgba(238, 243, 250, 0.64);
    padding: 2rem;
    color: #333333;
}

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.text1 {
    size: 2rem;
    text-align: center;

}

.logo {
    color: var(--green2);
}

.avatar {
    height: 100px;
    width: 100px;
    background-color: var(--green2);
    border-radius: 50%;
    grid-column: 1/2;
    grid-row: 1/2;
    display: grid;
    place-items: center;
    font-size: 0.9rem;
    text-align: center;
    color: var(Text);
    font-weight: lighter;
    color: var(--subText3);
    background-size: cover;
    mask-image: linear-gradient(to top, transparent 1%, black 25%);
}



.avatar-border-1 {
    display: grid;
    place-items: center;
    height: 120px;
    width: 120px;
    background-color: transparent;
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
    border-color: #333333 transparent #333333 #333333;

    transition: transform 1s linear;
    grid-column: 1/2;
    grid-row: 1/2;
}

.avatar-border-2 {
    display: grid;
    place-items: center;
    height: 110px;
    width: 110px;
    background-color: transparent;
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
    border-color: #333333 #333333 #333333 transparent;
    grid-column: 1/2;
    grid-row: 1/2;
    transition: transform 1s linear;
}

.avatar-container {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 1;
    place-items: center;
    cursor: pointer;
    transition: transform 1000ms;

    &:hover {
        transition: transform 200ms;
        transform: scale(1.1);
    }
}

.avatars-list ul {
    display: flex;
    gap: 1rem;
}

.avatars-list img {
    width: 50px;
    height: 50px;
}

.pick-text {
    color: var(--subText3);
}

.avatars-list>ul>li {
    cursor: pointer;
    position: relative;
    transition: transform 200ms ease-in-out;

}

.avatars-list>ul>li:hover {
    transform: scale(1.1);
}


.avatars-list ul>li::before {
    background-color: transparent;
    transition: all 200ms ease-in-out;
    content: "";
    position: absolute;
    inset: 0;
    height: 98%;
    width: 100%;
    border-radius: 50%;
    z-index: 2;
}

.avatars-list ul:hover>li:not(:hover)::before {
    background-color: rgba(0, 0, 0, 0.137);
}

.name-input-ready {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.name-input-ready input {
    width: 50%;
    height: 60px;
    border: none;
    border-radius: 5px;
    padding-inline: 30px;
    font-size: 1.3rem;
    color: var(--subText3);
    background-color: #E6E6E6;
    box-shadow: 9px 9px 16px rgba(214, 219, 226, 0.94000000000000006), -9px -9px 16px rgba(238, 243, 250, 0.64);
}

.name-input-ready input:focus {
    outline: 2px solid var(--green2);
}


.get-started {
    width: 120px;
    height: 50px;
    border-radius: 8px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 9px 9px 16px rgba(214, 219, 226, 0.94000000000000006), -9px -9px 16px rgba(238, 243, 250, 0.64);
    cursor: pointer;
    color: var(--text);
    font-size: 1rem;
    font-weight: bold;
    transition: transform 300ms ease-out;
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(to right, var(--green1)10%, var(--green2)11%, var(--green2)90%, var(--green1))1;
}

.get-started:hover {
    transform: translateY(-50%) scale(1.05);
}

.file-input {
    visibility: hidden;
    position: absolute;
}


@media screen and (width < 600px) {

    .name-input-ready {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .name-input-ready input {
        width: 82%;

    }

    .get-started {
        position: static;
        transform: none;
    }

}