@import url('./../../index.css');

.card {
    display: grid;
    grid-template-rows: subgrid;
    padding: 15px 20px;
    grid-row: span 4;
    cursor: pointer;
    transition: transform 300ms ease-in-out;
    border-radius: 35px;
    color: var(--subText3);
    font-weight: 250;
    font-size: clamp(1rem, calc(0.889rem + 0.032vw), 1.5rem);
}

.card:hover {
    transform: scale(1.05);
}

.card p:nth-child(1) {
    max-width: 80%;
    color: var(--text);
    font-weight: 500;
}

.red-card {
    composes: card;

    background: linear-gradient(to bottom right, var(--red1), var(--red2));
}


.yellow-card {
    composes: card;

    background: linear-gradient(to bottom right, var(--yellow1), var(--yellow2));
}

.green-card {
    composes: card;

    background: linear-gradient(to bottom right, var(--green1), var(--green2));
}

.status {
    background-color: rgb(255, 255, 255);
    min-width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: auto;
    margin-top: 10px;
    position: relative;
}

[status="in progress"]::before {
    content: "";
    position: absolute;
    min-width: 20px;
    height: 20px;
    box-shadow: 1px 1px 10px var(--subText3);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.card [status="done"] {
    background-image: url('./../assets/done.png');
    background-size: 32px 32px;
    background-repeat: no-repeat;
    background-position: center;
}

.yellow-card [status="in progress"] {
    &::before {
        background-color: var(--yellow2);
    }
}

.green-card [status="in progress"] {
    &::before {
        background-color: var(--green2);
    }
}

.red-card [status="in progress"] {
    &::before {

        background-color: var(--red2);
    }
}